[submodule "3rdparty/ros2_numpy"]
	path = 3rdparty/ros2_numpy
	url = https://github.com/Box-Robotics/ros2_numpy.git
[submodule "3rdparty/zed-ros2-interfaces"]
	path = 3rdparty/zed-ros2-interfaces
	url = https://github.com/stereolabs/zed-ros2-interfaces.git
[submodule "social_nav2"]
	path = social_nav2
	url = https://github.com/stephenadhi/social_nav2.git
[submodule "3rdparty/pointcloud_to_laserscan"]
	path = 3rdparty/pointcloud_to_laserscan
	url = https://github.com/ros-perception/pointcloud_to_laserscan.git
